corewar_vm/CMakeLists.txt
corewar_vm/cmake-build-debug
corewar_vm/cmake-build-debug/
corewar_vm/.idea
asm/.idea
*.o
*.a
*.d
asm/asm
.vscode
*.cor
../.DS_Store
.DS_Store
CMakeLists.txt
cmake-build-debug/
