vm_dir/CMakeLists.txt
vm_dir/cmake-build-debug
vm_dir/cmake-build-debug/
vm_dir/.idea
asm_dir/.idea
*.o
*.a
*.d
asm_dir/asm
.vscode
*.cor
../.DS_Store
.DS_Store
CMakeLists.txt
cmake-build-debug/
.idea/